version: "3.9"
services:
  api:
    build: api
    ports:
      - 5000:5000
    volumes:
      - ./api:/mnt
    environment:
      FLASK_ENV: development
    env_file:
      - .env
    depends_on:
      - mongo
    networks:
      - mongodb

  mongo:
    image: mongo:latest
    volumes:
      - ./data:/data
    ports:
      - 27017:27017
    networks:
      - mongodb
  
volumes:
  api:
  data:

networks:
  mongodb:
    driver: bridge
